.modalDelivery{
    opacity: 0; 
    visibility: hidden; 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.modalDelivery:target{
    opacity: 1;
    visibility: visible;
    z-index: 10002;
}

.modalDeliveryArea{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modalDelivery:target .containerDilivery{
    transform: translate(0px,0px);
    opacity: 1;
}

.containerDilivery{
     
    display: flex;

    width: 500px;
    margin: auto;
    background-color: white;
    padding: 30px 40px 30px 40px;
    margin-top: 150px;
    border-radius: 10px;
    transition: all 0.8s ease 0s;
    opacity: 1;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.headModalDilivery{
    display: flex;
    justify-content: space-between

}

.headModalDilivery a{
    text-decoration: none;
    color: #2e374a;
    
}

.containerTextPhotoDilivery{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.containerTextDivilery{
    display: flex;
    flex-direction: column;
    gap: 30px;

}


.textContentDilivery{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color:#2e374a;
    margin-bottom: 20px;


}

.textContentDilivery{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height:35px;
    width: 50%;
    font-weight: lighter;
}

#telegram{
    text-decoration: none;
    color: #2e374a;
    transition: 0.5s;
    font-size: 18px;
}

#telegram:hover{
    text-decoration: none;
    color: #ad0808;
    font-size: 22px;
    
}

.imgContentDivilery{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

}

.imgDivilery1 img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

.imgDivilery2 img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
}